%h1
  New Item for
  =@page.name
-form_for(@item) do |f|
  %div
    =f.label :title
    =f.text_field :title
  %div
    =f.label :description
    =f.text_field :description
  %div
    =f.label :content
    =f.text_area :content
  =f.hidden_field :page_id, :value => params[:page_id]
  %div
    =f.label :tag_list
    =f.text_field :tag_list
  %div
    =f.submit "Create"
-content_for :onReady do
  :plain
      var LinkSelection = {
        promptLinkSelection: function() {
          var node = this.selection.getNode();
          if (node.tagName == 'A') {
            if (confirm("Remove link?"))
              this.execCommand('unlink');
          } else {
            var value = prompt("Enter a URL", "http://www.google.com/");
            if (value)
              this.linkSelection(value);
          }
        },

        queryLink: function() {
          var node = this.selection.getNode();
          return node ? node.tagName == 'A' : false;
        }
      }
      var ImageSelection = {
        promptImageSelection: function() {
          var node = this.selection.getNode();
          if (node.tagName == 'IMG') {
            if (confirm("Remove image?"))
              this.execCommand('unlink');
          } else {
            var value = prompt("Enter a URL", "http://dev.pinmonkey.com/images/logo.png");
            if (value)
              this.insertImage(value);
          }
        },

        queryImage: function() {
          var node = this.selection.getNode();
          return node ? node.tagName == 'img' : false;
        }
      }
      Object.extend(WysiHat.Commands,{
    formatBlock: function(type) {
      this.execCommand('formatblock', false, type);
    },

    removeFormat: function() {
    this.execCommand('removeformat', false, null);
    }
    }
    );
      var editor = WysiHat.Editor.attach('item_content');
      toolbar = new WysiHat.Toolbar(editor, {buttonSet: WysiHat.Toolbar.ButtonSets.Basic});
      Object.extend(editor, LinkSelection);
      Object.extend(editor, ImageSelection);

      toolbar.addButton(
        { name: 'link', label: "Link" }, function(editor) {
        editor.promptLinkSelection();
    });
      toolbar.addButton(
        { name: 'ol', label: "OL" }, function(editor) {
        editor.insertOrderedList();
    });
      toolbar.addButton(
        { name: 'ul', label: "UL" }, function(editor) {
        editor.insertUnorderedList();
    });
      toolbar.addButton(
        { name: 'img', label: "img" }, function(editor) {
        editor.promptImageSelection();
    });
    toolbar.addButton(
    { name: 'h3', label: "Heading 3" }, function(editor) {
        editor.formatBlock("h3")
    });
          toolbar.addButton(
        { name: 'code', label: "code" }, function(editor) {
        editor.insertHTML('<pre class="prettyprint">'+editor.selection.getSelection()+'</pre>');
    });
