%h1
  New Item for
  =@page.name
-form_for(@item) do |f|
  %div
    =f.label :title
    =f.text_field :title
  %div
    =f.label :description
    =f.text_field :description
  %div
    =f.label :content
    =f.text_area :content
  =f.hidden_field :page_id, :value => params[:page_id]
  %div
    =f.label :tag_list
    =f.text_field :tag_list
  %div
    =f.submit "Create"
-content_for :onReady do
  new JSLib.Editor("item_content");
